{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/destinations/destination-detail.css' %}"
/>
{% endblock %}

{% block content %}
<section class="destination-container">
  <div class="destination-details">
    <h1>{{ destination.destination }}</h1>
    <p>{{ destination.description }}</p>
  </div>
</section>

<div class="activities-container">
  <section class="activities">
    <h3>Activities</h3>
    {% if destination.activity_set.all.count %}
      <table>
        <thead>
          <tr><th>Type</th><th>Activity</th></tr>
        </thead>
        <tbody>
          {% for activity in destination.activity_set.all %}
            <tr>
              <td>{{activity.get_type_display}}</td>
              <td>{{activity.activity}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="subsection-content">
        <h4>There are no activities yet!</h4>
      </div>
    {% endif %}
  </section>
</div>

<div class="form-container">
  <section class="form-section">
    <h3>Add an Activity</h3>
    <form action="{% url 'add_activity' destination.id %}" method="post" class="form-container">
      {% csrf_token %}
      <table>
        {{ activity_form.as_table }}
      </table>
      <button type="submit" class="btn">Add</button>
    </form>

  </section>
</div>

<div class="destination-actions">
  <a href="{% url 'destinations_update' destination.id %}" class="btn warn">Edit</a>
  <a href="{% url 'destinations_delete' destination.id %}" class="btn danger">Delete</a>
</div>

{% endblock %}