{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

<section class="logo-container ">
  <h1>Destination Vacation</h1>
</section>

{% if not user.is_authenticated %}

  <section>
    <h1>Login to discover your dream vacation</h1>
  </section>

  <section>
    <form action="{% url 'home' %}" method="post" class="login">
      {% comment %} <h1>Login</h1> {% endcomment %}
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}">
      <button type="submit" class="btn">Login</button>
    </form>
  </section>
{% endif %}

{% endblock %}