.destination-container {
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px #000000;
}

.destination-details {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  align-items: center;
  width: 98%;
}

.destination-details h1 {
  font-size: var(--font-xxl);
  margin: 15px 0 3px;
}

.destination-details h2 {
  font-size: var(--font-xl);
  margin: 0 0 10px;
  margin-top: 0;
  margin-bottom: 10px;
}

.destination-details h3 {
  margin: 20px 0 10px;
  font-size: var(--font-l);
}

.destination-details p {
  font-size: var(--font-reg);
  margin: 5px 0;
}

.activities-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  align-items: center;
}

.activities-container > section {
  width: 80%;
  min-width: 360px;
  border: var(--borders);
  border-radius: var(--card-border-radius);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  background-color: rgba(0,0,0,0.5);
  color: white;
}

.activities h3 {
  font-size: var(--font-xl);
  margin: 10px 0;
}

.activities h4 {
  font-size: var(--font-l);
  margin: 10px 0;
  text-align: center;
}

.activities-table {
  width: calc(100% - 16px);
  text-align: left;
  border-collapse: collapse;
  margin: 0 8px;
  border-bottom: rgb(0, 0, 0) solid 2px;
}

.activities td {
  padding: 8px 5px;
  font-size: var(--font-reg);
}

.activities th {
  font-size: var(--font-l);
  padding: 5px 5px 0;
  border-bottom: rgb(0, 0, 0) solid 2px;
}

/* .activities tr:nth-child(even) {
  background-color: #f3f3fd;
} */

.form-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  align-items: center;
}

.form-container > section {
  width: 80%;
  min-width: 360px;
  border: var(--borders);
  border-radius: var(--card-border-radius);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  background-color: rgba(0,0,0,0.5);
  color: white;
}

.form-container h3 {
  font-size: var(--font-xl);
  margin: 10px 0;
}

.destination-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

table {
  padding: 0 40px;
  width: 100%;
  border-spacing: 0 20px;
}

th {
  text-align: left;
  padding: 6px 20px 0 0;
  font-weight: normal;
  vertical-align: top;
  font-size: var(--font-reg);
}

td {
  max-width: 60%;
}

td > * {
  width: 100%;
  padding: 2px 4px;
  font-size: var(--font-l);
}

td > textarea {
  height: calc(4 * var(--font-l) + 8px);
  font-family: inherit;
}

@media only screen and (min-width: 768px) {
  .activities-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .activities-container > section {
    width: 45%;
  }

  .form-container > section {
    width: 45%;
  }
}

@media only screen and (min-width: 1024px) {
  .activities-container {
    padding: 0 40px;
  }

  .form-container {
    padding: 0 40px;
  }
}